[alias]
co = checkout

[apply]
whitespace = nowarn

[color]
diff = auto
status = auto
branch = auto

[core]
autocrlf = input
editor = mvim
excludesfile = /opt/boxen/config/git/gitignore

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[difftool "sourcetree"]
cmd = opendiff \"$LOCAL\" \"$REMOTE\"
path = 

[format]
pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset

[github]
user = playtimestudios
token = 

[hub]
protocol = https

[mergetool "sourcetree"]
cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
trustExitCode = true

[user]
name = Rick Jones
email = rick.jones@playtimestudios.com
