# Setup fzf
# ---------
if [[ ! "$PATH" == *{{ brew['prefix'] }}/opt/fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}/usr/local/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "{{ brew['prefix'] }}/opt/fzf/shell/completion.{{ item }}" 2> /dev/null

# Key bindings
# ------------
source "{{ brew['prefix'] }}/opt/fzf/shell/key-bindings.{{ item }}"
{% if item == 'zsh' %}
# Custom
source "$HOME/.fzf/key-bindings.zsh"
{% endif %}

# Options
# -------
{% if fzf['alt_c_command'] != None %}
FZF_ALT_C_COMMAND+="{{ fzf['alt_c_command'] }}"
{% endif %}
{% endif %}
{% if fzf['ctrl_t_command'] != None %}
FZF_CTRL_T_COMMAND+="{{ fzf['ctrl_t_command'] }}"
{% endif %}
{% if fzf['default_command'] != None %}
FZF_DEFAULT_COMMAND+="{{ fzf['default_command'] }}"
{% endif %}
{% if fzf['default_opts'] != None %}
FZF_DEFAULT_OPTS+="  {{ fzf['default_opts'] }}"
{% endif %}
{% if fzf['other_opts'] != None %}

{{ fzf['other_opts'] }}
{% endif %}
