# Setup fzf
# ---------
if [[ ! "$PATH" == *{{ brew['prefix'] }}/opt/fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}/usr/local/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "{{ brew['prefix'] }}/opt/fzf/shell/completion.{{ item }}" 2> /dev/null

# Key bindings
# ------------
source "{{ brew['prefix'] }}/opt/fzf/shell/key-bindings.{{ item }}"
{% if item == 'zsh' %}
# Custom
source "$HOME/.fzf/key-bindings.zsh"
{% endif %}

# Options
# -------
{% if fzf['default_opts'] != None %}
FZF_DEFAULT_OPTS+="  {{ fzf['default_opts'] }}"
{% endif %}
