[color]
  diff = auto
  status = auto
  branch = auto
[color "blame"]
  highlightRecent = {{ git['config']['blame']['color']['highlight_recent'] }}
[core]
  autocrlf = input
  editor = {{ git['config']['core']['editor'] }}
  excludesfile = {{ git['config']['core']['excludesfile'] }}
  pager = {{ git['config']['core']['pager'] }}
{% if ansible_os_family == 'Darwin' %}
[credential]
  helper = osxkeychain
{% endif %}
[user]
  name = {{ git['config']['user']['name'] }}
  email = {{ git['config']['user']['email'] }}
[blame]
  coloring = {{ git['config']['blame']['coloring'] }}
