[apply]
  whitespace = {{ git['config']['apply']['whitespace'] }}
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  autocrlf = input
  editor = {{ git['config']['core']['editor'] }}
  excludesfile = {{ git['config']['core']['excludesfile'] }}
  pager = {{ git['config']['core']['pager'] }}
{% if ansible_os_family == 'Darwin' %}
[credential]
  helper = osxkeychain
{% endif %}
[hub]
  protocol = {{ git['config']['hub']['protocol'] }}
[user]
  name = {{ git['config']['user']['name'] }}
  email = {{ git['config']['user']['email'] }}
