[apply]
  whitespace = {{ pillar.git.config.apply.whitespace }}
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  autocrlf = input
  editor = {{ pillar.global.editor }}
  excludesfile = {{ pillar.git.config.core.excludesfile }}
  pager = {{ pillar.git.config.core.pager }}
[credential]
  helper = osxkeychain
[hub]
  protocol = {{ pillar.git.config.hub.protocol }}
[user]
  name = {{ pillar.git.config.user.name }}
  email = {{ pillar.git.config.user.email }}
